h1 {
  color: blue;
  text-decoration: underline black;
  background-color: gold;
}

h2 {
  color: purple;
  font-weight: bold;
  font-size: 25px;
  border: solid orange;
}

section {
    width: 50%;
    height: 200px;
    background-color: gray;
    border: solid black;

}

p{
    color: white;
}
