/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 55px;
  float: left;
  width: 0%;
}

header nav * {
  float: left;
}

.top {
  float: left;
  width: 50%;
}

.bottom {
  width: 25%;
  float: left;
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
